body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  flex-direction: column;
}


.container {
  text-align: center;
}

form {
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

button {
  background: #d2691e;
  color: #fff;
  border: none;
  cursor: pointer;
}

.note {
      margin-top: 20px;
      background: #e0f7fa;
      padding: 10px;
      border-left: 4px solid #d2691e;
    }